{% extends 'partials/_base_owner.html' %}
{% load static %}
{% load crispy_forms_tags %}

{% block title %} {{title}} {% endblock %}

        {% block content %}
        <!-- Form -->
        <div class="container mt-5">
            <div class="row justify-content-center align-content-center">
                <h3 class="display-4">create a new hotel</h3>
                <div class="col-md-8">
                    <form method="POST" enctype="multipart/form-data">
                        {% csrf_token %}
                        {{form|crispy}}
                        <div class="col-12 mt-4">
                            <button type="submit" class="btn btn-primary btn-block">{{btn}} Hotel</button>
                        </div>
                    </form>
                </div>
            </div>
        </div>
        <!-- Form end -->
        {% endblock %}