{% extends 'partials/_base_owner.html' %}
{% load static %}

{% block title %} {{title}} {% endblock %}

{% block content %}

<!-- * Container -->
<h3 class="display-3 text-center mt-5">your hotels</h3>
<div class="container mt-5">
    <div class="row justify-content-center align-items-center">

        {% if hotels %}
            {% for hotel in hotels %}
            <div class="col-md-12 mt-4 mb-5">
                <div class="card">
                    <div class="card-body">
                        <div class="col-md-4 d-inline-block">
                            <img src="{{hotel.image.url}}" alt="" class="img-fluid">
                        </div>
                        <div class="col-md-8 d-inline-block float-right text-center">
                            <h4 class="card-title mb-4">{{hotel.name}}</h4>
                            <p class="card-text">{{hotel.description|truncatechars:350}}</p>
                            <a href="{% url 'hotel_detail' hotel.slug %}" class="btn btn-primary mr-2">View hotel</a>
                            <a href="#" class="btn btn-warning">Update Hotels</a>
                        </div>
                    </div>
                </div>
            </div>
            {% endfor %}
        {% endif %}
    </div>
</div>
        {% if not hotels %}
            <h2 class="mt-5 d-block text-center">Size ait bir otel bulunmuyor !</h2>
            <h5 class="mt-5 d-block text-center">Lütfen yukarıdaki 'Otel Ekle' sekmesine giderek bir otel oluşturun...</h5>
        {% endif %}
<!-- * Container end -->

{% endblock %}