    
    {% extends 'partials/_base_main.html' %}
    {% load static %}

    {% block style %}
            <link rel="stylesheet" type="text/css" href="{% static 'css/list.css' %}">
    {% endblock %}
    
    {% block content %}
    <!-- Table -->
    <div class="container mt-5">
        <div class="row">
            <div class="col-12 col-sm-12 col-md-12">
                <div class="card">
                    <div class="card-header">
                        <h4>Rooms List</h4>
                    </div>
                    {% if not rooms  %}
                        <h5 class="my-5 text-center">Upps... Oda bulunmuyor</h5>
                    {% endif %}
                    <div class="card-body">
                        <div class="table-responsive" id="proTeamScroll" tabindex="2" style="height: 400px; overflow: hidden; outline: none;">
                            <table class="table table-striped">
                                <thead>
                                    <tr class="text-center">
                                        <th>Cust.</th>
                                        <th>Hotel Name</th>
                                        <th>Number of room</th>
                                        <th>Beds</th>
                                        <th>Price</th>
                                        <th class="text-center">View</th>
                                    </tr>
                                </thead>
                                <tbody>
                                    {% for room in rooms %}
                                    <tr class="text-center">
                                        <td class="table-img"><img src="{{room.image.url}}" alt="">
                                        </td>
                                        <td>
                                            <h6 class="mb-0 font-13">{{room.hotel.name}}</h6>
                                        </td>
                                        <td><span>{{room.number}}</span></td>
                                        <td>
                                            <div class="badge-outline col-red">{{room.number_of_beds}}</div>
                                        </td>
                                        <td>
                                            <div class="progress-text">{{room.price}} €</div>
                                        </td>
                                        <td class="text-center">
                                            <a href="{% url 'room_detail' room.hotel.slug room.id %}" class="btn btn-success text-center">Detail</a>
                                        </td>
                                    </tr>
                                    {% endfor %}
                                </tbody>
                            </table>
                        </div>
                    </div>
                </div>
            </div>
        </div>
        </div>

    <!-- Table end -->
    {% endblock %}